/* Custom button used in home (login, register)*/
.btn-custom {
    background-color: white; 
    color: rgb(0, 0, 0); 
    border: none; 
}

/* Set button styles when mouse is hovering */
.btn-custom:hover {
    background-color: darkorange; /* Color on hover */
    color: white; 
}


.carousel-button {
    background-color: orange;
    color: black;
    margin-top: 3%; 
}

/* General styles */
body {
    padding-top: 56px; /* Space for fixed navbar */
}

/* Set text color in navigation links */
.navbar-nav .nav-link {
    color: black !important;
}

/* Show dropdown menu when hovered */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu */
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none; 
}

/* Style for transparent button */
.transparent-button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem; /* Adjust size of symbols */
    outline: none;
}

/* Remove transition on carousel */
.carousel-item {
    transition: none !important;
}

/* Set carousel images style*/
.carousel-inner img {
    height: 90vh; /* Set the height as a percentage of the viewport height */
    width: auto;
    max-width: 100%; /* Ensure it doesn't overflow the carousel */
    object-fit: cover; /* Cover the area without distortion */
}

.card{
    width: 95%;
}

body{
    background-color: rgb(240, 233, 233);
}
.primary{
    background-color: orange;
    color: black;
}
.primary:hover {
    background-color: darkorange; /* Color on hover */
    color: white; 
}


.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 1%; /* Set the name*/
}

.user-image {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 1%; /* Margin with user photo and name */
}

.card-title {
    font-weight: bold;
    margin-top: 0.5rem;
}

.card-text {
    font-size: 0.95rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

h1, h4 {
    margin-left: 2%;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    vertical-align: middle;
}

.user-info {
    display: flex;
    align-items: center;
}


footer {
    margin-top: 5%; 
    padding: 20px 0;
    width: 100%; 
}

