
/* Custom button used in home (login, register)*/
.btn-custom {
    background-color: white; 
    color: rgb(0, 0, 0); 
    border: none; 
}

/* Set button styles when mouse is hovering */
.btn-custom:hover {
    background-color: darkorange; /* Color on hover */
    color: white; 
}

/* Hide dropdown menu by default */
.dropdown-menu {
    display: none; 
}

/* Show dropdown menu when hovered */
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Show dropdown menu */
}


/* Set text color in navigation links */
.navbar-nav .nav-link {
    color: black !important;
}


html, body {
    height: 100%; 
}

header{
    margin-bottom: 5%;
}
footer {
    margin-top: 10%; 
    width: 100%;
}

.loginBtn {
    background-color: orange;
    color: black;
    font-size: 120%;
    width: 80%;
}

.card{
    margin-top: 10%;
}


.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Para que esté detrás del contenido */
    transform: translate(-50%, -50%);
}
.content {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del video */
}